@font-face {
    font-family: "Bondtique";
    src: 
    local("Bondtique"),
    url("fonts/Bondtique.woff") format('woff'),
    url("fonts/Bondtique.ttf") format('truetype'),
    url("fonts/Bondtique.otf") format('opentype'),
    url("fonts/Bondtique.woff2") format("woff2");

    }
    
    body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.content {
    text-align: center;
    position: absolute;
    bottom: 15px; 
    width: 50%; 
    color: #fff; 
    text-shadow: -1px -1px 0 #000,  
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 1px  1px 0 #000; 
    font-size: 16px;
    line-height: 17px;
}

.content a {
    color: #fff; 
    text-decoration: none; 
    text-shadow: -1px -1px 0 #000,  
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 1px  1px 0 #000; 
}


.content a:hover {
    font-style: italic; 
}


.content a:visited {
    color: #fff; 
}

.content h1, .content p {
    font-family: 'Bondtique'; 
}

.top-right-text {
    display: none; 
    position: absolute;
    top: 15px; 
    left: 15px; 
    right: 10px; 
    font-family: 'Bondtique'; 
    color: #fff; 
    text-decoration: none; 
    text-shadow: -1px -1px 0 #000,  
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 1px  1px 0 #000;
    font-size: 16px;
}

.top-right-text a {
    color: #fff; /* White text color for links */
    text-decoration: none; /* Remove underline from links */
    text-shadow: 1px 1px 2px #000; /* Black stroke for better readability */
    font-style: normal; /* Normal font style for links */
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.top-right-text a:hover {
    font-style: italic; /* Italic on hover */
}

body.page-1 {
    background-color: #c0c1c0;
    background-image: url('images/timaelkhammas_p1_img.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #fff; 
}

body.page-2 {
    background-color: #c0c1c0;
    background-image: url('images/timaelkhammas_p2_library exhibition.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #fff; 
}

body.page-3 {
    background-color: #c0c1c0;
    background-image: url('images/timaelkhammas_p3_library exhibition.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #fff; 
}

body.page-4 {
    background-color: #c0c1c0;
    background-image: url('images/timaelkhammas_p4_myth.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #fff; 
}

body.page-5 {
    background-color: #c0c1c0;
    background-image: url('images/timaelkhammas_p5_myth.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #fff; 
}

body.page-6 {
    background-color: #c0c1c0;
    background-image: url('images/timaelkhammas_p5_takhzine.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #fff; 
}

body.page-7 {
    background-color: #c0c1c0;
    background-image: url('images/timaelkhammas_p6_takhzine.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #fff; 
}

body.page-8 {
    background-color: #c0c1c0;
    background-image: url('images/timaelkhammas_p7_takhzine.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #fff; 
}

.nav-area {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%; 
    height: 100%;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.arrow-cursor {
    cursor: e-resize;
}

.left-scroll.arrow-cursor {
    cursor: w-resize;
}

@media only screen and (max-width: 600px) {
    .content { 
        width: 80%; 
    } 
  }
