body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.text-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    color: white;
    text-shadow: 0 0 6px #000;
    z-index: 10; /* Ensure the text is on top */
}

.text-top-left a {
    color: white; 
    text-decoration: none; 
}

.text-top-left a:hover {
    font-style: italic; 
}

.image-container {
    display: flex;
    height: 100vh; 
    overflow-x: auto; 
    overflow-y: hidden; 
}

.image-wrapper {
    position: relative;
    flex-shrink: 0;
}

.arrow-cursor {
    cursor: e-resize;
}


.image-wrapper img {
    display: block; 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    border: none; 
}

.caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    text-shadow: 0 0 6px #000;
}

.left-scroll.arrow-cursor {
    cursor: w-resize; /* Change cursor to left arrow */
}


@media (max-width: 768px) {
    .image-wrapper {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Ensure the image doesn't overflow its container */
    }

    .image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Zoom and crop the image to cover the entire container */
    }
}

